* {
    color: white; 
    background-color: black;
}

a:link {
  color: #FFFFFF;
  font-weight: bold;
}

a:visited {
  color: #FFFFFF;
  font-weight: bold;
}

a:hover {
  color: #FFFFFF;
}

a:active {
  color: #FFFFFF;
  font-weight: bold;
} 
